/*注册登录界面样式表.您自己改*/

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

img {
    width: 90%;
    height: auto;
    max-height: 300px;
}

.container {
    height: 100%;
    background: linear-gradient(to right, #fbc2eb, #a6c1ee);
}

.login-form {
    background-color: rgba(250, 250, 250, 0.8);
    width: 350px;
    height: 600px;
    border-radius: 15px;
    /* 定位到中心 */
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text {
    /* 标题Login的样式 */
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    line-height: 80px;
    margin-top: 40px;
}

.form-item,
.btn,
.other {
    margin: 20px auto;
    width: 90%;
}

.copy {
    user-select: text;
    width: 80%;
    margin-left: 9.9%;
    word-break: break-all;
}

input {
    width: 80%;
    margin-top: 20px;
    padding: 10px;
    /* 边框效果 */
    border: 0;
    outline: none;
    border-bottom: 1px solid #fbc2eb;
}

input::placeholder {
    font-weight: bold;
    color: #acb7c9;
}

input:focus {
    /* 当输入框获取焦点时的效果 */
    /* box-shadow: 0px 0px 5px #fbc2eb;
  border-bottom: 1px solid #fff; */
    animation: bBottom 2s infinite;
}

@keyframes bBottom {
    50% {
        border-bottom: 1px solid #a6c1ee;
    }
}

.btn {
    height: 40px;
    line-height: 40px;
    /* 字体 */
    color: #fff;
    font-weight: bold;
    letter-spacing: 10px;
    text-align: center;
    /* 鼠标样式 */
    cursor: pointer;
    /* 边框、背景 */
    border-radius: 10px;
    background: linear-gradient(to right, #fbc2eb, #a6c1ee, #fbc2eb);
    background-size: 200%;
}

.btn:hover {
    animation: btnAnimate 1s infinite;
}

@keyframes btnAnimate {
    50% {
        background-position: 200%;
    }
}

a {
    text-decoration: none;
    color: #fbc2eb;
}

.footerbox {
    width: 100%;
    font-size: 0.8em;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    -o-user-select: none;
    user-select: none;
}